#main-header {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body {
    background-color: #f4f2ef;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
}

.desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-left {
    display: flex;
    align-items: center;
}

.logo img {
    max-height: 40px;
}

.search-button input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.search-button button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #302119;
    color: #ffffff;
    cursor: pointer;
    transition: 1s ease-out;
}

button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #302119;
    color: #ffffff;
    cursor: pointer;
    transition: 1s ease-out;
}

.search-button button:hover {
    background-color: rgb(66, 48, 41);
}

button:hover {
    background-color: rgb(66, 48, 41);
}


/* Стили для прелоадера */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#loader {
    border: 8px solid #f3f3f3;
    /* Цвет круга загрузки */
    border-top: 8px solid #3498db;
    /* Цвет круга загрузки */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Скрываем прелоадер после загрузки страницы */
.loaded #preloader {
    display: none;
}


#books-list,
#books-list2 {
    margin: auto 0;
    width: 100%;
    /* Задаем ширину контейнера */
    display: flex;
    flex-wrap: nowrap;
    /* Запрещаем перенос элементов на новую строку */
    justify-content: flex-start;
    overflow-x: auto;
    /* Добавляем горизонтальную прокрутку */
    -webkit-overflow-scrolling: touch;
    /* Для плавной прокрутки на мобильных устройствах */
}


#books-list::-webkit-scrollbar,
#books-list2::-webkit-scrollbar {
    display: none;
    /* Скрываем полосу прокрутки вебкит-браузеров */
}


/* Стили для отдельной книги */
.book {
    text-decoration: none;
    margin: 20px;
    width: 177px;
}

.book img {
    width: 177px;
    height: 247px;
}

.book-title {
    font-size: 14px;
    font-weight: 700;
}

.book-author {
    font-size: 14px;
}

.book p {
    color: #302119;
    margin: 5px 0;
    /* Уменьшаем внешние отступы для абзацев внутри блока книги */
}

.books-heading-main {
    margin-left: 20px;
    color: #302119;
    text-align: left;
    /* Выравниваем по центру */
    margin-top: 100px;
    /* Отступ сверху */
}

.books-heading {
    color: #302119;
    margin-left: 20px;
    text-align: left;
    /* Выравниваем по центру */
    margin-top: 20px;
    /* Отступ сверху */
}

#main-footer {
    padding: 20px;
    /* Внутренние отступы */
    background-color: #ffffff;
    color: #374957;
    z-index: 2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

#main-footer p {
    margin: 0;
    /* Убираем отступы */
}

.nav-right a {
    text-decoration: none;
    color: #302119;
    text-underline: #302119;
    margin-right: 30px;
}


.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.add-book-button {
    margin-left: 5px;
    background-color: #302119;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s ease-out;
}

.add-book-button:hover {
    background-color: rgb(66, 48, 41);
}

.no-books-message {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
    color: #333;
    margin-top: 20px;
}

.no-books-message svg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.no-books-message p {
    margin: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 2, 2, 0.84);
}

.modal-content {
    overflow-y: auto;
    max-height: 80%;
    color: #302119;
    background-color: #f4f2ef;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #3b3b3b;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.modal-content form {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.modal-content form label {
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;

}

.modal-content h2 {
    text-align: center;
}

.modal-content form input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.modal-content form input[type="checkbox"] {
    margin-right: 5px;
}

.modal-content form label.required::after {
    content: "*";
    /* Добавляем красную звездочку после обязательных полей */
    color: red;
}

.modal-content form .button {
    margin-top: 30px;
    /* Помещаем кнопку в самый низ */
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content form .button:hover {
    background-color: #45a049;
    color: rgba(255, 255, 255, 0.3);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.close,
.close2 {
    color: #aaa;
    text-align: left;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus,
.close2:hover,
.close2:focus {
    text-decoration: none;
    cursor: pointer;
    color: rgb(101, 101, 101);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.modal-content select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* Стили для опций выпадающего списка */
.modal-content select option {
    padding: 5px;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.book-cover {
    margin-top: 100px;
    flex: 1;
    margin-right: 20px;
}

.book-cover img {
    width: 100%;
    height: auto;
}

.book-details {
    flex: 2;
    margin-top: 100px;
}

.book-details h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.book-details p {
    font-size: 18px;
    margin-bottom: 10px;
}

#preloader2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    /* полупрозрачный фон */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    /* чтобы прелоадер был поверх всех элементов */
}

.loader2 {
    border: 16px solid #f3f3f3;
    /* серый */
    border-top: 16px solid #3498db;
    /* синий */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    /* анимация вращения */
}